<h1>Weather</h1>

<div id="current-time"></div>
<div>
  <div class="row">
    <div class="col-md-1"> </div>
    <div class="box col-md-3" onclick="changeWeather(this, 'yellow')">Morning</div>
    <div class="col-md-1"> </div>
    <div class="box col-md-3" onclick="changeWeather(this, 'orange')">Afternoon</div>
    <div class="col-md-1"> </div>
    <div class="box col-md-3" onclick="changeWeather(this, 'black')">Evening</div>
  </div>
  
</div>
